* {
 background: rgb(39, 39, 44);
 /* background: rgb(25, 25, 28); */
 --grad-1: rgb(112,79,120);
 --grad-2: rgb(142,218,111);
 color: #ccc;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    width: 100%;
    /* border: solid red; */
}

.inner-container {
    margin-top: 30px;
    margin-left: 60px;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(270deg,var(--grad-2)0%,var(--grad-1)100%);
    z-index: 1;
}

.border {
    z-index: 2;
}

.top {
    display: flex;
    justify-content: space-evenly;
    height: 180px;
    margin-bottom: 100px;
}

.social {
    display: flex;
}

.social img {
    margin-right: 30px;

} 

.top img {
    margin-top: 50px;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.contact img {
    height: 60px;
    width: 60px;
}

.github img {
    height: 60px;
    width: 60px;
}

.intro {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.intro-top {
    font-size: 90px;
    padding: 0;
}

.intro-bottom {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    width: 550px;
    line-height: 30px;
    margin-bottom: 160px;
    font-weight: bold;
    /* height: 160px; */
}

.projects {
    margin-top: 10px;
    margin-left: 160px;
    font-size: 32px;
    border-radius: 20px;
    /* opacity: 1; */
}

.project-list {
    margin-top: 30px;
    /* padding: 30px; */
    width: 20px;
    top: 2px;
    font-size: 18px;
}

table {
    border-left: solid white;
    border-width: thin;
    padding: 10px;
    border-color: var(--grad-1);
}

table a{
    color: #ccc;
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
    text-underline-offset: 7px;
    text-decoration-color: var(--grad-2);
    /* font-weight: bold; */
    /* text-decoration-color: linear-gradient(270deg,var(--grad-2)0%,var(--grad-1)100%); */
}

table td {
    width: 100px;
    padding: 7px;
}

footer {
    color: #ccc;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1150px) {

    .inner-container {
        margin-top: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .intro {
        display: block;
    }

    .intro-bottom {
        margin-bottom: 80px;
    }

    .projects {
        margin-left: 0px;
    }

    .top img {
        height: 120px;
        width: 120px;
    }

    .contact img {
        height: 50px;
        width: 50px;
    }

    .github img {
        height: 50px;
        width: 50px;
    }

}

@media only screen and (max-width: 400px) {
    .top img {
        height: 80px;
        width: 80px;
    }

    .contact img {
        height: 40px;
        width: 40px;
    }

    .github img {
        height: 40px;
        width: 40px;
        
    }

    .top {
        display: block;
    }

    .social {
        justify-content: space-evenly;
        margin-left: 20px;
    }

    .intro-top {
        font-size: 40px;
        text-align: center;

    }

    .intro-bottom {
        width: 220px;
        font-size: 12px;
        text-align: center;
    }

    .projects {
        font-size: 20px;
    }

    .inner-container {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .project-list {
        font-size: 14px;
    }
}